{% extends 'posts/base.html'%}
{% load static %}

{% block body %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'posts/css/main.css'%}">
<mg href="#">
    <span data-text="M">M</span>
    <span data-text="A">A</span>
    <span data-text="T">T</span>
    <span data-text="C">C</span>
    <span data-text="H">H</span>
    <span data-text="A">A</span>
</mg>
{% endblock %}