{% extends 'posts/base.html'%}
{% load static %}

{% block body %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'posts/css/mypage2.css'%}">
<!------ Include the above in your HEAD tag ---------->

<div class="container-fluid" style="margin-top:20px;">
<h1 style="text-align:center;color:#b94646;">나의 맛집 평가 리스트</h1><br>
<div class="row">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="showall-tab" data-toggle="pill" href="#showall" role="tab" aria-controls="showall" aria-selected="true">Show All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="Cars-tab" data-toggle="pill" href="#Cars" role="tab" aria-controls="Cars" aria-selected="false">조아</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="City-tab" data-toggle="pill" href="#City" role="tab" aria-controls="City" aria-selected="false">너무조아</a>
      </li>
    </ul>
</div><hr noshade style="margin-top:-20px;">
<div class="container">
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="showall" role="tabpanel" aria-labelledby="showall-tab">
    {% for gp in group %}
    <div class="Portfolio">
        <a href="{% url 'posts:detail' gp.id%}"><img class="card-img" src="{{ gp.new_urls }}" alt="" align="center"></a>
        <div class="desc">
            <b>평점: 3 </b>

            <p>식당이름: {{ gp.store_name }} </p>
        </div>
    </div>
    {% endfor %}
  <div class="tab-pane fade" id="Cars" role="tabpanel" aria-labelledby="Cars-tab">
    <div class="Portfolio">
        <a href="#!"><img class="card-img" src="{% static 'posts/img/lion.gif'%}" alt="" align="center"></a>
        <div class="desc">
            <b>평점:</b>
            <p>식당이름:</p>
        </div>
    </div>

  </div>
  <div class="tab-pane fade" id="City" role="tabpanel" aria-labelledby="City-tab">
    <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a><div class="desc">City 1</div></div>
    <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a><div class="desc">City 2</div></div>
    <div class="Portfolio"><a href="#!"><img class="card-img" src="http://placehold.it/400x400" alt=""></a><div class="desc">City 3</div></div>
  </div>

</div>
</div>

</div>




<!--<script src="{% static 'posts/js/mypage2.js'%]"></script>-->
{% endblock %}